.leaderboardContainer {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: hidden; /* Hide vertical scrollbar */
  padding: 40px;
  text-align: center;
  background: linear-gradient(135deg, #6A1B9A, #FF4081);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 0 auto;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 15vh;
  
  
}

.title {
  font-size: 36px;
  font-weight: 700;
  /* Bold */
  margin-bottom: 30px;
  color: white;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

.leaderboardTable {
  width: 100%;
  border-collapse: collapse;
  background-color:#F5F5F5;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.leaderboardTable th,
.leaderboardTable td {
  padding: 16px 20px;
  text-align: center;
}

.leaderboardTable th {
  background-color: #6A1B9A;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}

.leaderboardTable td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
}

.leaderboardTable tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.95);
}

.leaderboardTable tr:last-child td {
  border-bottom: none;
}
.leaderboardTable tr:first-child td:first-child {
  background-color: #FFD740;
  color: #333;
  font-weight: bold;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.leaderboardTable tr:nth-child(2) td:first-child {
  background-color: #C0C0C0;
  /* Silver for 2nd place */
  color: #333;
  font-weight: bold;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.leaderboardTable tr:nth-child(3) td:first-child {
  background-color: #CD7F32;
  /* Bronze for 3rd place */
  color: #333;
  font-weight: bold;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.leaderboardContainer {
  background: linear-gradient(135deg, #6A1B9A, #FF4081, #00B0FF, #FFD740);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

.leaderboardTable {
  max-height: 400px;
  overflow-y: auto;
}


@media (max-width: 768px) {
  .leaderboardContainer {
    padding: 20px;
  }

  .leaderboardTable th,
  .leaderboardTable td {
    padding: 12px 10px;
    font-size: 14px;
  }

  .title {
    font-size: 28px;
  }
}